@import '../_variables.scss';

.info-list {
    width: 70%;

    .info-list__item {
        border: 0;
        cursor: pointer;
        text-align: left;
    }

    .info-list__item:hover {
        color: $main-hover-color;
    }
}

.info-btn {
    width: 10%;
}

.catalog-btn {
    width: 10%;
}

.basket-btn {
    position: relative;
    border: 0;
    background-color: #ffffff;

    .basket-img {
        width: 30px;
        height: 30px;
    }

    .basket-counter {
        position: absolute;
        left: 70%;
        top: 65%;
    }
}

.basket-info {
    width: 12%;
}
